@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Parisienne&family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
--cor-da-letra:#c7f2fd;
--cor-do-titulo:#510192 ;
--cor-de-fundo: #8A77FF;  
--fundo-senha: #5229A8;
--fundo-texto:#5229A8; 
--borda:#a497fa;
--fonte:"Playball", cursive;
--fonte2:"Roboto", sans-serif;
}
body{
    color: var(--cor-da-letra);
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte);

}

.titulo-principal{
    color:var(--cor-do-titulo);
    font-size:70px;
    display: flex;
    justify-content: center;
    padding:20px;
    font-family: "Playball", cursive; 
    
}


.imagem{

    width: 5%;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.conteudo-titulo{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 12px;
    font-family: var(--fonte2);
}

.titulo-secundario{
    font-size: 22px;
    justify-content:flex-start;
    align-items: start;
}
